<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47794848-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-47794848-2');
    </script>
    <meta charset="utf-8">
    <title>ASCII ART</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sketchSphere.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/time.css') }}">

</head>

<body style="text-align:center; margin-top:1%; background:#111; padding-bottom:3px;">

<div>

    <h1>
        ASCII ART
    </h1>
    <a href="{{ url_for('enter_rle') }}" class="button">Insert RLE</a>
    <a href="{{ url_for('display_input') }}" class="button">Display ASCII Art</a>
    <a href="./display.html" class="button">Decode RLE</a>
    <a href="./close.html" class="button">Encode ASCII Art</a>
    <a href="{{ url_for('about') }}" class="button">About</a>
    <a href="{{ url_for('close_web') }}" class="button">Quit</a>


</div>

</body>

</footer>
</html>
